.brd{
    border: 1px solid black;
}
.brd1{
    border: 1px solid red;
}
.main{
    height: 410px;
    width: 350px;
    background-color: rgb(211, 215, 219);
}
.menu{
    display:flex; 
    justify-content: space-between;
}
.left2{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 10px;
}

.right2{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding: 10px;
}



.Section0{
    display: flex;
    justify-content: space-between;
    
}
.left{
    display: flex;
    width: 60%;
    padding: 10px;
    
    
}
.right{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.Section1{
    direction: rtl;
    height: 40px;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    
}
.objectmenu2{
    font-size: large;
    font-weight: bold;
}
.Section2{
    display:flex;
    height: 50px;
    
}
.Section3{
    display:flex;
    height: 50px;
}
.Section4{
    display:flex;
    height: 50px;
}
.Section5{
    display:flex;
    height: 50px;
}
.Section6{
    display:flex;
    height: 50px;
}
.Section7{
    display:flex;
    height: 50px;
}
.Section8{
    display:flex;
    height: 50px;
}
.flex_2{
    flex: 1;
    font-weight: bold;
}
.m1,.m2,.m6{
    color: gray;
}

.flex_2{
    
    background-color: rgb(211, 215, 219);
    border: none;
}
.flex_3{
    flex: 1;
    background-color: rgb(240,240,240);

}

.flex_4{
    flex: 1;
    background-color: rgb(240,240,240);

}
.t8,.t12,.t16,.t20,.t21,.t23,.t24{
    background-color: rgb(240,240,240);

}
.t9,.t10,.t11,.t13,.t14,.t15,.t17,.t18,.t19,.t22{
    font-weight: bold;
    font-size: large;
}
.flex_5{
    flex: 1;
}
.flex_6{
    flex: 1;
}
.flex_7{
    flex: 1;
}
.flex_8{
    flex: 1;
}
button{
    background-color: white;

    color:black;
    font-weight: 700px;
}